body {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
}
#box {
  font-family: cursive, sans-serif;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 20px 23px #242222;
  text-align: center;
  width: calc(25%);
  height: calc(45%);
  padding-top: 50px;
}
a {
  padding: 20px;
  line-height: 30px;
  color: #000000;
}
a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: rgb(0, 255, 26);
  background-color: transparent;
  text-decoration: underline;
}
@media screen  and (max-width:600px) {
  #box{
    width: calc(45%);
    height: calc(30%);
    padding-top: 30px;
  }
  #box a{
    font-size: small ;
  }
  #box h1 {
    font-size: small;
  }
}                                 

@media screen  and (min-width:600px) and (max-width:1100px){
  #box{
    width: calc(35%);
    height: calc(25%);
    padding-top: 50px;
  }
  #box a{
    font-size: medium ;
  }
  #box h1 {
    font-size: medium;
  }
}