body {
  background-color: rgb(51, 33, 33);
  margin: auto;
  width: 100%;
  /* overflow: hidden; */
}
#nbar {
  background-color: rgb(84, 53, 97);
  height: 80px;
  /* margin-bottom: 9.9999px; */
  /* padding: 6px; */
}
.left {
  float: left;
}
.right {
  float: right;
  text-align: center;
  margin-top: 32px;
}
.left img {
  height: 60px;
  float: left;
  margin-top: 10px;
}
.left h2 {
  color: rgb(209, 217, 232);
  float: left;
  margin-top: 36px;
}
.right a {
  color: rgb(209, 217, 232);
  text-decoration: none;
  padding-right: 20px;
}
#main-co {
  background-color: rgb(209, 217, 232);
  /* height: 240px; */
  margin-bottom: 14.9999px;
  /* overflow: hidden; */
  padding: 25px;
}
.boxes1 {
  background-color: rgb(209, 217, 232);
  /* height: 300px; */
  float: left;
  width: 32%;
  padding: 8px;
  padding-top: 5px;
}
.boxes2 {
  background-color: rgb(209, 217, 232);
  /* height: 300px; */
  float: left;
  width: 32%;
  padding: 6px;
  padding-left: 5px;
  padding-top: 5px;
}
.boxes3 {
  background-color: rgb(209, 217, 232);
  /* height: 300px; */
  float: left;
  width: 32%;
  padding: 6px;
  padding-top: 5px;
}
.boxes2 {
  margin: 0% 0.7% 0.7%;
}
.boxes1 {
  float: left;
}
.boxes3 {
  float: right;
}
.boxes1 p {
  padding-left: 5px;
}
.boxes2 p {
  padding-left: 5px;
}
.boxes3 p {
  padding-left: 5px;
}
/* @media screen and (min-width:1700px) {
  .boxes1 {
    width: 32.4%;
  } 
 }  
 @media screen and (max-width:1300px) and (min-width:651px) {
  .boxes1 {  
    height: 200px;
    width: calc(100%);
    margin: 0vh 1vh 2vh 0vh;
  }
  .boxes1 p{
    padding-right: 2vh;
  }
  .boxes2 {  
    height: 200px;
    width: calc(100%);
    margin: 0vh 1vh 2vh 0vh;
  }
  .boxes2 p{
    padding-right: 2vh;
  }
  .boxes3 {  
    height: 200px;
    width: calc(100%);
    margin: 0vh 0vh 0vh 0vh;
    margin-right: 0vh ;
  }
  .boxes3 p{
    padding-right: 2vh;
    padding: 0vh 1vh 2vh 2vh;
} 
.boxes3 h3 { 
  
  padding: 0vh 0vh 0vh 1vh;
}
#main-co {
  padding: 0vh 1vh 3vh 1vh ;
  margin-bottom: 22.9999px; */
/* }
 } */
@media screen and (max-width:650px){
  #main-co {
    width: calc(100% - 6vw);
    padding: 1em;
    margin-bottom: 7px;
    /* height:40vh; */
  }
   .boxes1 , .boxes2 ,.boxes3
  {
    width: calc(100% - 2em);
    padding: 1em;
    margin-bottom: 7px;

    
 }  
 .left{
  /* width: calc(100% - 300px); */
  width: 48%;
 }
 .right
 {
  width: 47%;
 } 
 #im a{
  padding: 3px;
 }
 .right a {
  /* color: rgb(209, 217, 232);
  text-decoration: none;
  padding-right: 20px; */
  font-size: small;
  
}
.left h2 {
  color: rgb(249, 250, 252);
  /* float: left;
  margin-top: 36px; */
  font-size: medium;
}
#nbar {
  margin-bottom: 7px;
}

}
